<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<head>
<th:block th:include="fragments/common :: head(title='Location')"></th:block>
</head>
<body>
	<th:block th:include="fragments/common :: navbar"></th:block>
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-">

						<div class="wrapper row">
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>Description</th>
										<th>Code</th>
										<th>Ends in</th>
											</tr>
								</thead>
								<tbody>
									<th:block th:each="promotion : ${promotions}">
										<tr>
											<!--  -->
											<td>
												
											</td>
											<!-- descript -->
											<td th:inline="text"><b>[[${promotion.description}]]</b></td>
											<!-- DESCRIPTION -->
											<td th:text="${promotion.code}"></td>
											<!-- ending date -->

											<td th:inline="text">[[${promotion.endDate}]]</td>
											<!-- ADD TO ORDER -->

										</tr>
									</th:block>
								</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>