<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Home page</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
	<div class="flex-container">
		<div>
			<i class="fas fa-sign-in-alt"
				style="font-size: 30px; padding-left: 10px"></i>
		</div>
		<div sec:authorize="isAnonymous()">
			<span>not logged in</span>
		</div>
		<div sec:authorize="isAuthenticated()">
			<span sec:authentication="name"></span>
		</div>

		<div sec:authorize="isAnonymous()">
			<a th:href="@{/login}">Login</a>
		</div>
		<div sec:authorize="isAnonymous()">
			<a th:href="@{/register/init}">Register</a>
		</div>
		<div>
			<a href="#"> Tabernas Sevilla</a>
		</div>
		

	</div>

	<!--   
        <button id="menuBtn" class="hamburger block sm:hidden focus:outline-none" type="button" onclick="navToggle();">
            <span class="hamburger__top-bun"></span>
            <span class="hamburger__bottom-bun"></span>
        </button>
			-->

	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#">Home</a> <a href="#">Taverns</a>
		<!-- 
   	<a href="#">    Porvenir</a>
    <a href="#">    Torneo</a>
    <a href="#">    Nervión</a>
    <a href="#">    Arenal</a>  -->
		<a href="#">Menu</a> <a href="#">Booking</a> <a href="#">Contact</a>
	</div>


	<span class="derecha" style="font-size: 30px; cursor: pointer"
		onclick="openNav()">&#9776; </span>

	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}
		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
	</script>
</body>
</html>