<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Home page</title>
<link rel="stylesheet" href="css/pepe.css">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<th:block th:include="fragments/common :: head"></th:block>

</head>
<body>
	<header th:include="fragments/common :: navbar"></header>
	
	<div class="info" id="info" th:unless=${message==null}>
		<span th:text="${message}"></span> </div>
	
	<div class="container card">
	<h1 align=center style="color: black;">Welcome to tabernas Sevilla</h1>
	<br>
	<h2 align=center style="font-family: 'Courier', cursive; font-size: 15pt;">A place for lovers of good food. Start by choosing your favorite restaurant</h2>
		</div>

	<br>
	<br>
	<img src="https://www.arengalia.es/images/logo-blanco-svg.svg" style=" max-width: 20%; margin-left: 40%; margin-right: 30%;"> 
	<br>
	<br>
	<br>
	<br>


	<div class="row">
		<div class="column">
			<a href="location/view?id=1"><img
				src="https://www.arengalia.es/images/porvenir/IMG_8301.jpg"
				style="width: 100%"></a>
			<div class="overlay">Porvenir</div>
		</div>
		<div class="column">
			<a href="location/view?id=2"><img
				src="https://elcorreoweb.es/documents/10157/0/image_content_17122123_20150704213539.jpg"
				style="width: 100%"></a>

			<div class="overlay">Arenal</div>
		</div>
		<div class="column">
			<a href="location/view?id=3"><img
				src="https://www.arengalia.es/images/nervion/IMG_6866.jpg"
				style="width: 100%"></a>

			<div class="overlay">Nervión</div>
		</div>

	</div>
	<br>
	<br>
	<br>


	<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>