<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Spring Boot User Authentication</title>
<th:block th:include="header :: head"></th:block>
</head>
<body>
	<th:block th:include="header :: navbar"></th:block>


	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Register</h3>
				</div>

				<div class="card-body">
					<form role="form" th:action="@{/register/save}" th:method="post"
						th:object="${registerForm}">

						<input type="hidden" id="role" name="role" th:field="*{role}">
						<!-- USERNAME -->
						<div class="input-group form-group">
							
							<input type="text" class="form-control" placeholder="username"
								name="username" th:field="*{username}">
							<ul>
								<li th:each="err : ${#fields.errors('username')}"
									th:text="${err}" />
							</ul>
						</div>
						<!-- PASSWORD -->
						<div class="input-group form-group">
							<input type="password" class="form-control"
								placeholder="password" name="password" th:field="*{password}">
							<ul>
								<li th:each="err : ${#fields.errors('password')}"
									th:text="${err}" />
							</ul>
						</div>
						<!-- NAME -->
						<input type="hidden" id="id" name="id" th:field="*{form.id}">

						<div class="input-group form-group">
							<input type="text" class="form-control" placeholder="name"
								name="name" th:field="*{form.name}">
							<ul>
								<li th:each="err : ${#fields.errors('form.name')}"
									th:text="${err}" />
							</ul>
						</div>
						<!-- SURNAME -->
						<div class="input-group form-group">
							<input type="text" class="form-control" placeholder="surname"
								name="surname" th:field="*{form.surname}">
							<ul>
								<li th:each="err : ${#fields.errors('form.surname')}"
									th:text="${err}" />
							</ul>
						</div>
						<!-- EMAIL -->
						<div class="input-group form-group">
							<input type="text" class="form-control" placeholder="email"
								name="email" th:field="*{form.email}">
							<ul>
								<li th:each="err : ${#fields.errors('form.email')}"
									th:text="${err}" />
							</ul>
						</div>
						<!-- AVATAR -->
						<div class="input-group form-group">
							<input type="text" class="form-control" placeholder="avatar"
								name="avatar" th:field="*{form.avatar}">
							<ul>
								<li th:each="err : ${#fields.errors('form.avatar')}"
									th:text="${err}" />
							</ul>
						</div>
						<!-- PHONE NUMBER -->
						<div class="input-group form-group">
							<input type="text" class="form-control"
								placeholder="Phone number" name="phoneNumber"
								th:field="*{form.phoneNumber}">
							<ul>
								<li th:each="err : ${#fields.errors('form.phoneNumber')}"
									th:text="${err}" />
							</ul>
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox" th:field="*{acceptTerms}">
							 Accept terms and conditions
						</div>

						<div class="form-group">
							<input type="submit" value="Register"
								class="btn float-right login_btn">
						</div>
					</form>
				</div>
			</div>
			<div>
				<p th:text="${message}"></p>
			</div>
		</div>
	</div>
</body>
</html>