<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<head>
<th:block th:include="fragments/common :: head(title='Location')"></th:block>
</head>
<body>
	<th:block th:include="fragments/common :: navbar"></th:block>
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">


						<img th:src="${establishment.picture}" class="img-fluid" />


					</div>
					<div class="details col-md-6">
						<h3 class="product-title" th:text="${establishment.title}"></h3>
						<!-- SCORE FRAGMENT -->
						<div class="rating">
							<div
								th:replace="fragments/score :: stars(score=${establishment.score})"></div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description"
							th:text="${establishment.description}"></p>
						<h4>
							CONTACT: <span th:text="${establishment.phone}"></span>
						</h4>
						<p class="vote">
							<strong>91%</strong> of buyers enjoyed this product! <strong>(87
								votes)</strong>
						</p>
						<h5 class="sizes">
							sizes: <span class="size" data-toggle="tooltip" title="small">s</span>
							<span class="size" data-toggle="tooltip" title="medium">m</span>
							<span class="size" data-toggle="tooltip" title="large">l</span> <span
								class="size" data-toggle="tooltip" title="xtra large">xl</span>
						</h5>
						<h5 class="colors">
							colors: <span class="color orange not-available"
								data-toggle="tooltip" title="Not In store"></span> <span
								class="color green"></span> <span class="color blue"></span>
						</h5>
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button">
								Make reservation</button>
							<!--  
							<button class="like btn btn-default" type="button">
							
								<span class="fa fa-heart"></span>
							</button>
							-->
						</div>
						<div sec:authorize="hasAnyAuthority('ADMIN','MANAGER','WAITER')">
							<a th:href="@{/table/establishment/{id}(id=${establishment.id})}">

								View tables </a>
						</div>
						<div sec:authorize="hasAuthority('CUSTOMER')">
							<a
								th:href="@{/customer/setPreferred?id={id}(id=${establishment.id})}">

								Set as preferred establishment </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>